@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .transition-set {
    @apply transition duration-500 ease-in-out
  }

  .transition-all-set {
    @apply transition-all duration-500 ease-in-out
  }

  .bg-black-alt {
    background: #191919;
  }

  @responsive {
    .h-2\/3-screen {
      height: calc(100vh * 2 / 3);
    }

    .max-h-20 {
      max-height: 5rem;
    }
  }
}
